#app.game {
    background-image: url(../media/background_game.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.game .wrapper {
    align-items: flex-end;
    gap: 40px;
    padding: 0 40px;
    width: calc( 1280px + 80px );
    position: relative;
}

.game img {
    width: 100%;
}

.game .stage {
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.game .stage.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.game .score {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0%, -50%);
    width: 150px;
    height: 150px;
    background-image: url(../media/star.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: 900;
    color: var(--beige);
}