.upgrades .wrapper {
    width: 100%;
    height: 620px;
    align-items: center;
    justify-content: center;
    padding: 0px 80px;
    gap: 40px;
    max-width: calc( 1280px - 160px );
}

.upgrades .column.text {
    width: 400px;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.upgrades .column.text .message {
    gap: 10px;
}
.upgrades .column.text .title {
    font-size: 48px;
    font-weight: 900;
    color: var(--red);
}
.upgrades .column.text .illustration {
    width: 70%;
}
.upgrades .column.text .illustration img {
    width: 100%;
}

.upgrades .upgrade-list {
    width: 100%;
    background-color: var(--pink);
    border-radius: 60px;
    padding: 20px 20px 60px 20px;
    gap: 10px;
}

.upgrades .upgrade-list .header {
    padding: 20px 40px 10px 20px;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
}

.upgrades .upgrade-list .header .column {
    width: 100%;
    justify-content: center;
}

.upgrades .upgrade-list .header .title {
    font-size: 36px;
    font-weight: 900;
}

.upgrades .upgrade-list .header .icon {
    height: 70px;
}
.upgrades .upgrade-list .header .icon img {
    height: 100%;
}

.upgrades .upgrade-list hr {
    height: 5px;
    background: var(--beige);
    width: calc( 100% - 40px );
    border: none;
    margin: 0;
}

.upgrades .upgrade-list .list {
    gap: 20px;
    padding: 20px 10px;
    overflow-y: scroll;
    scrollbar-color: var(--pink);
    width: calc( 100% - 10px );
}


.upgrades .upgrade-list .list .item {
    gap: 20px;
}
.upgrades .upgrade-list .list .item.disabled {
    pointer-events: none;
    color: var(--beige);
    border-color: var(--beige);
}
.upgrades .upgrade-list .list .item.disabled button {
    pointer-events: none;
    color: var(--beige);
    border-color: var(--beige);
}

.upgrades .upgrade-list .list .item .column {
    width: 100%;
    gap: 10px;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
}

.upgrades .upgrade-list .list .item .column .title {
    font-size: 24px;
    font-weight: 900;
}


/* width */
::-webkit-scrollbar {
  width: 20px;
  outline: solid 4px var(--beige);
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: var(--beige);
  border: solid 4px var(--beige); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pink);
  border-radius: 20px;
  width: 80%;
}