.sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: var(--beige);
  padding: 40px 80px;
  width: 660px;
}

.sponsors img { width: 100%; }
