.tutorialFinalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 60px;
  width: 100%;
  height: 100%;
  background: #fbf2d7ff;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;

}

.tutorialFinalContainer .leftSide {
  flex-shrink: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.tutorialFinalContainer .objectBox {
  width: 50%;
  height: 100%;
  background: #e4afb3ff;
  padding: 0 10%;
  row-gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tutorialFinalContainer .objectBox .timer {
  width: 70px;
  height: 70px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: pulse 1s ease-in-out infinite;
  opacity: 0;
  transition: opacity 0.5s;
}

.tutorialFinalContainer .objectBox .timer.on {
  opacity: 1;
}

.tutorialFinalContainer .objectBox .timer .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}
.tutorialFinalContainer .objectBox .timer .number {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-weight: 900;
  margin-top: 8px;
  margin-right: 4px;
}

.tutorialFinalContainer .clickableBox {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s;
  animation: pulse-shake 2s infinite linear;
  position: relative;
}

.tutorialFinalContainer .clickableBox .ripa { 
  position: absolute;
  content: '';
  width: 0px;
  height: 10px;
  top: 27%;
  right: 10px;
  background-color: #6578b6; 
}
.tutorialFinalContainer .clickableBox.on {
  cursor: not-allowed;
  animation: none;
}
.tutorialFinalContainer .clickableBox.on .ripa {
  transition: all 3s;
  width: 200px;
  right: -190px;
}

.tutorialFinalContainer .clickableBox.done { 
  animation: none;
}

.tutorialFinalContainer .clickableBox img {
  height: 100%;
}


.tutorialFinalContainer .labelText {
  font-size: 24px;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  color: #000;
  text-align: center;
  margin: 0;
}

.tutorialFinalContainer .rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
  background: #ffffff;
  width: 100%;
  height: 100%;
}

.tutorialFinalContainer .rightSide .button { 
  animation: pulse-shake 2s infinite linear;
}

.tutorialFinalContainer .textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tutorialFinalContainer .explanationText,
.tutorialFinalContainer .callToAction {
  font-family: 'Archivo', sans-serif;
  color: #000;
  margin-bottom: 20px;
}
.tutorialFinalContainer .explanationText {
  font-size: 32px;
  font-weight: 700;
}
.tutorialFinalContainer .callToAction {
  font-size: 28px;
  font-weight: 700;
  padding: 0 0%;
}

.tutorialFinalContainer .currentStep {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 40px 40px;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  width: 30%;
  height: 100%;
  
}

.tutorialFinalContainer .currentStep .stepNumber {
  color: rgba(180, 36, 19, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 110px;
  text-rendering: geometricPrecision;
  caret-color: rgba(180, 36, 19, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 900;
}
.tutorialFinalContainer .currentStep .stepLabel {
  color: rgba(180, 36, 19, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 38px;
  text-rendering: geometricPrecision;
  caret-color: rgba(180, 36, 19, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 900;
}
