.tutorialNextContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 60px;
  width: 100%;
  height: 100%;
  background: #fbf2d7ff;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  opacity: 0;
  animation: fadeIn 0.25s forwards, 
            smallSlideInFromBottom 0.2s forwards;
}

.tutorialNextContainer.out {
  animation: fadeOut 0.25s forwards, 
            smallSlideOutFromTop 0.2s forwards;
}

.tutorialNextContainer .leftSide {
  flex-shrink: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.tutorialNextContainer .objectBox {
  width: 50%;
  height: 100%;
  background: #e4afb3ff;
  padding: 0 10%;
  row-gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tutorialNextContainer .objectBox .timer {
  width: 70px;
  height: 70px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: pulse 1s ease-in-out infinite;
  opacity: 0;
  transition: opacity 0.5s;
}

.tutorialNextContainer .objectBox .timer.on {
  opacity: 1;
}

.tutorialNextContainer .objectBox .timer .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}
.tutorialNextContainer .objectBox .timer .number {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-weight: 900;
  margin-top: 8px;
  margin-right: 4px;
}

.tutorialNextContainer .clickableBox {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s;
  animation: pulse-shake 2s infinite linear;
}

.tutorialNextContainer .clickableBox.on { 
  animation: shake 0.05s infinite linear !important;
  cursor: not-allowed;
}
.tutorialNextContainer .clickableBox.done { 
  animation: none;
}

.tutorialNextContainer .clickableBox img {
  height: 100%;
}

.tutorialNextContainer .progressBar {
  width: 200px;
  height: 42px;
  border: solid #218e79 8px;
  border-radius: 42px;
  position: relative;
}

.tutorialNextContainer .progressBar .progress {
  position: absolute;
  background: #218e79;
  left: 0;
  height: 100%;
}

.tutorialNextContainer .labelText {
  font-size: 24px;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  color: #000;
  text-align: center;
  margin: 0;
}

.tutorialNextContainer .rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
  background: #ffffff;
  width: 100%;
  height: 100%;
}

.tutorialNextContainer .textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tutorialNextContainer .explanationText,
.tutorialNextContainer .callToAction {
  font-family: 'Archivo', sans-serif;
  color: #000;
  margin-bottom: 20px;
}
.tutorialNextContainer .explanationText {
  font-size: 32px;
  font-weight: 700;
}
.tutorialNextContainer .callToAction {
  font-size: 28px;
  font-weight: 700;
  padding: 0 0%;
}

.tutorialNextContainer .currentStep {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 40px 40px;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  width: 30%;
  height: 100%;
  
}

.tutorialNextContainer .currentStep .stepNumber {
  color: rgba(180, 36, 19, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 110px;
  text-rendering: geometricPrecision;
  caret-color: rgba(180, 36, 19, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 900;
}
.tutorialNextContainer .currentStep .stepLabel {
  color: rgba(180, 36, 19, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 38px;
  text-rendering: geometricPrecision;
  caret-color: rgba(180, 36, 19, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 900;
}
