#app.mission {
    align-items: center;
    align-content: stretch;
    justify-content: center;
    background-image: url(../media/background_mission.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mission .wrapper {
    padding: 0 40px;
    width: 100%;
    max-width: 1280px;
}

.mission .illustration {
    width: 100%;
    max-width: 600px;
}
.mission .illustration img {
    width: 100%;
}

.mission .column.text {
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

.mission .description {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    gap: 40px;
    padding: 20px 0;
}

.mission .description .title {
    font-size: 32px;
    font-weight: 900;
}