@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Archivo", sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #fbf2d7;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

.text-node {
  background-clip: text !important;
  -webkit-background-clip: text !important;
}


@keyframes slideInFromTop {
  from { transform: translateY(-20%);}
  to   { transform: translateY(0); }
}
@keyframes slideOutFromTop {
  from { transform: translateY(0);}
  to   { transform: translateY(-20%); }
}

@keyframes slideInFromLeft {
  from { transform: translateX(-20%); }
  to   { transform: translateX(0); }
}
@keyframes slideOutFromLeft {
  from { transform: translateX(0); }
  to   { transform: translateX(-20%); }
}

@keyframes slideInFromBottom {
  from { transform: translateY(20%);}
  to   { transform: translateY(0);}
}
@keyframes slideOutFromBottom {
  from { transform: translateY(0);}
  to   { transform: translateY(20%);}
}

@keyframes slideInFromRight {
  from { transform: translateX(20%);}
  to   { transform: translateX(0);}
}
@keyframes slideOutFromRight {
  from { transform: translateX(0);}
  to   { transform: translateX(20%);}
}

@keyframes smallSlideInFromTop {
  from { transform: translateY(-1%);}
  to   { transform: translateY(0); }
}
@keyframes smallSlideOutFromTop {
  from { transform: translateY(0);}
  to   { transform: translateY(-1%); }
}

@keyframes smallSlideInFromLeft {
  from { transform: translateX(-1%); }
  to   { transform: translateX(0); }
}
@keyframes smallSlideOutFromLeft {
  from { transform: translateX(0); }
  to   { transform: translateX(-1%); }
}

@keyframes smallSlideInFromBottom {
  from { transform: translateY(1%);}
  to   { transform: translateY(0);}
}
@keyframes smallSlideOutFromBottom {
  from { transform: translateY(0);}
  to   { transform: translateY(1%);}
}

@keyframes smallSlideInFromRight {
  from { transform: translateX(1%);}
  to   { transform: translateX(0);}
}
@keyframes smallSlideOutFromRight {
  from { transform: translateX(0);}
  to   { transform: translateX(1%);}
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes slideInFromBottomLeft {
  from { transform: translate(-35%, 35%);}
  to   { transform: translate(0, 0);}
}
@keyframes slideOutFromBottomLeft {
  from { transform: translate(0, 0);}
  to   { transform: translate(-35%, 35%);}
}

@keyframes slideInFromBottomRight {
  from { transform: translate(35%, 35%);}
  to   { transform: translate(0, 0);}
}
@keyframes slideOutFromBottomRight {
  from { transform: translate(0, 0);}
  to   { transform: translate(35%, 35%);}
}

@keyframes slideInFromTopLeft {
  from { transform: translate(-35%, -35%);}
  to   { transform: translate(0, 0);}
}
@keyframes slideOutFromTopLeft {
  from { transform: translate(0, 0);}
  to   { transform: translate(-35%, -35%);}
}

@keyframes slideInFromTopRight {
  from { transform: translate(35%, -35%);}
  to   { transform: translate(0, 0);}
}
@keyframes slideOutFromTopRight {
  from { transform: translate(0, 0);}
  to   { transform: translate(35%, -35%);}
}

@keyframes pulse-shake {
  0%   { transform: rotate(0deg); }
  5%   { transform: rotate(2deg); }
  10%  { transform: rotate(-2deg); }
  15%   { transform: rotate(2deg); }
  20%  { transform: rotate(-2deg); }
  25%  { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@keyframes shake {
  0%   { transform: rotate(1deg); }
  50%  { transform: rotate(-1deg); }
  100% { transform: rotate(1deg); }
}

@keyframes pulse {
  0%   { transform: scale(1.05); }
  50%  { transform: scale(1.0); }
  100% { transform: scale(1.05); }
}